HTTP_PORT=3000

REDIS_HOST=localhost
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_DB=0

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app

KAFKA_BROKERS=localhost:9094
KAFKA_PORT=9094
KAFKA_CONSUMER_GROUP=test-group
KAFKA_CONSUME_TOPICS=test-topic
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

SENTRY_DSN=
SENTRY_ENV=
SENTRY_RELEASE=

DD_AGENT_ADDR=
DD_SERVICE=
DD_ENV=
DD_VERSION=
DD_ENABLED=
DD_PROFILING_ENABLED=